
@import "variables.scss";
@import "fonts.scss";
@import "base.scss";

::ng-deep ngx-slick-carousel.company-awards__slider{
    padding-top: 8.5rem;
    padding-bottom: 3.75rem;

    .slick-slide{
        display: flex;
        justify-content: center;
    }

    .slick-arrow {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        padding: 0.5rem;
        svg {
            fill: $main-text-05;
        }
        &:active {
            svg {
                fill: $main-text-1;
            }
        }
    }
    .slick-next {
        top: 1.5rem;
    }
    .slick-prev {
        top: 3.5rem;
    }

    @media screen and (min-width: 768px){
        position: static;
        height: 100%;
        padding-top: 0;
        padding-bottom: 0;
        max-width: 42rem;
        margin-left: -2rem;

        .slick-list, .slick-track{
            height: 100%;
        }

        .slick-track{
            display: flex;
            align-items: center;
        }

        .slick-slide{
            height: auto;
        }

        .slick-prev{
            right: 0;
            bottom: 6.5rem;
            left: auto;
            transform: none;
            top: auto;
            padding-right: 2.5rem;
        }
        .slick-next{
            right: 0;
            bottom: 8.5rem;
            left: auto;
            transform: none;
            top: auto;
            padding-right: 2.5rem;
        }
    }

    @media screen and (min-width: 1200px){
        padding-left: 0;
        max-width: 100%;
        margin-left: 0;

        .slick-prev{
            padding-right: 0;
        }
        .slick-next{
            padding-right: 0;
        }

        .slick-arrow {
            cursor: pointer;
            
            &:hover{
                svg {
                    fill: $main-text-1;
                }
            }
        }
    }
}

.company{
    &-awards{
        position: relative;
        padding-left: 2rem;
        padding-right: 2rem;
        border-bottom: 1px solid $border-color-035;

        .lines {
            display: none;
        }

        &__static-wrap{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        }

        &__h3{
            width: 100%;
            text-align: center;
            font-family: $bold;
            color: $dark-blue-text-1;
            font-size: 1.2rem;
            font-weight: 400;
            padding-top: 3.75rem;
            padding-bottom: 1.8rem;
            text-transform: uppercase;
            letter-spacing: 2.4px;
        }

        &__text-wrap, &__text-wrap *{
            color: $light-text-1;
            font-family: $regular;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 2.5rem;
            text-align: center;
        }

        &__img{
            max-height: 17.1rem;
            max-width: 17.1rem;
        }

    }

}

@media screen and (min-width: 768px){

    .company{
        &-awards{
            padding-left: 0;
            display: flex;
            min-height: 37.3rem;
            position: relative;
            padding-right: 0;

            .lines {
                position: absolute;
                display: flex;
                height: 100%;
                z-index: -1;
                justify-content: flex-start;
                width: 100%;
            }

            .line {
                flex: 0 0 calc(33.333% - .1rem);
                height: 100%;

                &:first-child {
                    border-right: 1px solid transparent;
                }
                &:nth-child(2) {
                    border-right: 1px solid $border-color-035;
                }
            }

            &__static-wrap{
                width: 33.3333333%;
                order: 2;
                align-content: flex-start;
                padding-right: 2.5rem;                
            }

            &__text-wrap{
                text-align: right;
                padding-left: 2.6rem;
            }

            &__h3{
                padding-top: 6.75rem;
                padding-bottom: 3rem;
            }

            &__h3, &__text-wrap, &__text-wrap *{
                text-align: right;
            }

            &__slider-wrap{
                width: 66.6666666%;
                order: 1;
                padding-left: 2.5rem;
            }
        }
    }

}

@media screen and (min-width: 1200px){

    .company{
        &-awards{
            max-width: 70vw;
            width: 97rem;
            padding-right: 0;

            .lines {
                max-width: 70vw;
                width: 97rem;
            }

            .line{
                flex: 0 0 calc(33.333% + 0.6666rem);

                &:nth-child(2) {
                    flex: 0 0 calc(33.333% + 0.6666rem);
                }
            }

            &__slider-wrap{
                padding-left: 0;
                width: 47.7vw;           
            }

            &__text-wrap{
                width: 100%;
                display: flex;
                justify-content: flex-end;
            }

            &__static-wrap{
                padding-right: 0;
            }

            &__paragraph{
                max-width: 20.5rem;
            }
        }
    }

}

@media screen and (min-width: 1440px){

    .company{
        &-awards{
            &__slider-wrap{
                padding-left: 0;
                width: 65.8rem;           
            }
        }
    }
    
}