<div class="after-payment__wrap">
  <div class="after-payment__content">
    <p class="after-payment__text">
      {{ 'after-payment.paymentError' | translate }}
    </p>
    <div class="after-payment__img-wrap">
      <img class="after-payment__img" [src]="paymentStatusUrl">
    </div>
    <div class="after-payment__btns">
      <a class="after-payment__btn" [routerLink]="['/'] | localize">
        <span class="after-payment__btn-text">{{ 'after-payment.toMain' | translate }}</span>
      </a>
      <a class="after-payment__btn" (click)="tryAgain()">
        <span class="after-payment__btn-text">{{ 'after-payment.toCart' | translate }}</span>
      </a>
    </div>
  </div>
</div>